

// External libraries
@import "bootstrap/scss/bootstrap";
@import "trix/dist/trix";

// Your CSS partials
@import "pages/index";
@import "components/actiontext";

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

